body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0.5em;
}

/*Main Navbar*/
.nav-logo-and-button {
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-button-course {
  display: inline-block;
  background-color: crimson;
  color: white;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 0.3em;
  margin: 0 1em;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0 auto;
}
.header-menu li {
  padding: 0 1em;
}

.header-menu li a {
  text-decoration: none;
  color: black;
}

.header-menu li a:hover {
  color: crimson;
}

.nav-sign-up-btn {
  display: inline-block;
  background-color: crimson;
  color: white;
  align-items: center;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  margin-right: 1em;
}

/*Section-1*/

.section-main-image {
  max-width: 100%;
}

@media (max-width: 676px) {
  .container {
    max-width: 50%;
  }
  .header-menu {
    display: none;
  }

  .header-menu li a {
    text-decoration: none;
    color: black;
    font-size: 0.5em;
  }

  .section-main-image {
    max-width: 100%;
  }
}

/*Section-2*/

/*Our top university partners*/
.section-2-main1 {
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 0.5em;
}

.main1, .main2, .main3 {
    margin: 0 auto;
    padding: 0.5em;
    display: flex;
}
.img-s2,.c-s2 {
    margin: 0 auto;
    padding: 0.5em;
}

.section-2-button-parent {
  display: flex;
  justify-content: center;
}

.section-2-button{
    background-color: crimson;
    color: white;
    padding: 1em 3em;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    border-radius: 0.6em;
}

.section-2-main2{
  max-width: 75%;
  margin: 0 auto;
  padding-bottom: 3em;
}

.section-2-main2-heading{
  font-weight: bold;
  font-size: 2.5rem;
}

/*our courses*/

.course-nav{
display: flex;
list-style: none;
padding-bottom:3em;
}
.course-nav-1ele{
  color: rgb(248, 16, 16);
  font-weight: bold;
  text-decoration: underline;
}

.course-nav a{
  padding: 0 0.5em;
  color: #000;
  text-decoration: none;
  font-size: 1.1rem;
}

.course-nav a:hover{
  color: crimson;
}
.course-category{
font-weight:600;
font-size: 1.5rem;
padding: 0.5em 0;
}

.course-imgs{
display: flex;
padding-bottom: 1em;
}
.course-img{
border-radius: 1em 1em 0 0;

}
.c-i1, .c-i2, .c-i3{
  margin:1em;
  max-width: 320px;
  background-color: rgb(254, 254, 254);
  border-radius: 1em;
  box-shadow: #00000029 0px 0px 10px 0px;
}

.course-imgs-content{
  padding: 1em;
  border-radius: 1em;
}
.course-free-button{
  display: flex;
  justify-content: center;
  padding: 0;
}
.course-free-button-child{
  background-color: crimson;
  color: white;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 0.3em;
  margin: 0 1em;
}

.explore-more-courses-btn{
  display: flex;
  justify-content: center;
  padding: 0;
}
.explore-more-courses-btn a{
  background-color: crimson;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  border-radius: 0.5em;
}
@media(max-width: 675px){
  .course-imgs{
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
  }
  .course-img{
    border-radius: 1em 1em 0 0;
    max-width: 100%;
  }
  .course-nav{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-bottom:3em;
    text-decoration: underline;
  }
  .c-i1, .c-i2, .c-i3{
    margin:1em;
    background-color: rgb(254, 254, 254);
    border-radius: 1em;
    box-shadow: #00000029 0px 0px 10px 0px;
  }
  .section-2-main1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 0.5em;
  }

}

@media(max-width:1040px){
  .course-imgs{
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
  }
  .c-i1, .c-i2, .c-i3{
    margin:1em;
    background-color: rgb(254, 254, 254);
    border-radius: 1em;
    box-shadow: #00000029 0px 0px 10px 0px;
  }
}

/*Section-3*/


.section-3-content-parent{
  /* display: flex; */
  background-color: rgb(232, 226, 226);
  padding: 1em;
}
/* flex-wrap: wrap; */
.section-3-content{
  display: flex;

}

.section-3-content-parent img{
  width:100%;
  max-width: 70%;
  border-radius: 1em;
  padding:0.2em ;
}

.section-3-content-parent a{
  position: absolute;
  margin:0.8em;
  padding: 1em;
  background-color: RGBA(255, 255, 255, 0.5);
  border-radius: 0.5em;
  color: whitesmoke;
  text-decoration: none;
  border: 0.1em solid ghostwhite;
  display: inline-block;
}

@media(max-width: 675px){
  .section-3-content{
    display: flex;
    flex-direction: column;
    background-color: rgb(232, 226, 226);
    padding: 1em;
  }
  .section-3-content-parent{
    
    background-color: rgb(232, 226, 226);
    padding: 1em;
  }
  .section-3-content-parent img{
    width:100%;
    max-width: 100%;
    border-radius: 1em;
    padding:0.2em ;
  }
  .section-3-content-parent a{
    position: absolute;
    margin:1.3em;
    padding: 1em;
    background-color: RGBA(255, 255, 255, 0.5);
    border-radius: 0.5em;
    color: whitesmoke;
    text-decoration: none;
    font-size: 0.5em;
    border: 0.1em solid ghostwhite;
    
  }
}




